.Pokecard{
    background-color: #ffffff;
    width: 300px;
    padding: 10px;
    margin: 1rem;
    box-shadow: 7px 5px 12px -2px rgba(0, 0, 0, 0.435);
    text-align: center;
    border-radius: 3px;
}

.Pokecard-data{
    font-size:80%
}

.Pokecard-title {
	margin-bottom: 1rem;
	font-weight: bold;
	font-size: 1.5rem;
}

.Pokecard-image {
	/* display: flex;
	justify-content: center;
	align-items: center; */
	height: 250px;
	/* background-color: rgb(243, 243, 243); */
	border-radius: 3px;
	margin-bottom: 1rem;
    margin-top: 1rem;
}

.Pokecard img{
    transition: all ease 500ms;
}

.Pokecard:hover {
    box-shadow: 15px 15px 22px -2px rgba(0, 0, 0, 0.435);
}

.Pokecard img:hover{
    transform: scale(1.2); 
    opacity: 70%;
}

/* Types Styling */
.grass {
    /* background-color: rgb(65, 157, 4); */
    background: linear-gradient(to bottom left,rgba(65, 157, 4, 1), white);
}
.poison {
    background: linear-gradient(to bottom left, rgba(128, 0, 128, 1),white);
}

.fire {
    background: linear-gradient(to bottom left, #f1a34f,white);
}

.water {
    background: linear-gradient(to bottom left, rgba(34, 34, 146, 1),white);
  
}

.bug {
    background: linear-gradient(to bottom left, rgba(181, 198, 114, 1),white);
   
}

.normal {
    background: linear-gradient(to bottom left, #ecebeb,white);
}

.flying {
    background: linear-gradient(to bottom left, rgba(211, 238, 243, 1),white);
    
}

.electric {
    background: linear-gradient(to bottom left, rgba(255, 255, 0, 1),white);
    
}

.ground {
    background: linear-gradient(to bottom left, rgba(81, 57, 30, 1),white);
   
}

.fairy {
    background: linear-gradient(to bottom left, rgba(255, 192, 203, 1),white);
}

.fighting {
    background: linear-gradient(to bottom left, rgba(196, 171, 142, 1),white);
}

.psychic {
    background: linear-gradient(to bottom left, rgba(221, 128, 185, 1),white);
}

.rock {
    background: linear-gradient(to bottom left,rgba(145, 128, 103, 1) ,white);
}

.ghost {
    background: linear-gradient(to bottom left, rgba(77, 57, 77, 1),white);
}

.ice {
    background: linear-gradient(to bottom left, rgba(146, 237, 237, 1),white);
}

.dragon {
    background: linear-gradient(to bottom left, rgba(242, 132, 132, 1),white);
}

.dark {
    background: linear-gradient(to bottom left, rgba(100, 91, 91, 1),white);
}

.steel{
    background: linear-gradient(to bottom left, rgba(182, 182, 182, 1),white);
}
/* .Pokecard img:hover {
	transform: scale(1.25);
	opacity: 0.7;
} */
