/* .search-bar{
    display: flex;
    align-items: center;
} */

.search-input{
    border-radius: 10px;
    border: none;
    padding: 3px;
    padding-left: 10px;
    margin: 5px;
    width: 200px;
}

.search-button{
    padding: 4px 8px;
    margin-left: 8px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(to bottom left, rgb(177, 116, 116), red);
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    outline: none;
}

.search-button:hover{
    box-shadow: 0px 0px 10px white;
}